<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <form method="post" action="/login">
            <h1>Log in Now</h1>


            <input type="email" placeholder="email" name="email" value="<%= locals.email %>" required>
            <input type="password" placeholder="Password" name="password" required>
            <p class="error"><%= locals.message %></p>
            <button type="submit">Log In</button>
        </form>
    </main>
    
</body>
</html>